html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: center;
}

#todosloscasos{
	width: 950px;
	padding: 20px;
	min-height: 150px;
	height: auto;
}